html,
body {
    font-family: 'Roboto', cursive;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    animation-duration: 0.001s;
    background: url(../img/myartworkclouds.jpg);
	background-position: fixed;
	background-repeat: no-repeat;
	background-size: cover; 
    /*background: -webkit-linear-gradient(#6de7e96b, #04526841);*/
}


.index-front {
    background: rgba(0, 0, 0, 0.6);
    overflow-x: hidden;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
}

.index-bg {
    width: 100%;
    height: 650px;
    position: relative;
    object-fit: cover;
}

.dpfront {
    width: 25%;
    transition: ease all .5s;
    height: 400px;
    position: relative;
    object-fit: cover;
    margin: 30px auto 20px 80px;
    border: 4px solid rgb(18, 91, 133);

}

.container-dp {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
}

.container-info {
    background-color: #8bd3d3;
    position: relative;
    margin: 10px 20px auto 20px;
    width: 100%;
    color: rgb(21, 58, 91);
    padding: 1em;
    border: 4px solid rgb(18, 91, 133);
}

.clip {
    position: absolute;
    top: 230px;
    left: 13px;
    height: 400px;
}

.index-about .line h4 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(18, 91, 133);
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-size: 25px;
    font-family: 'Amatic SC', cursive;
    color: rgb(255, 255, 255);
    background-color: rgb(18, 91, 133);
}

.index-about .line h4 span {
    background-color: rgb(18, 91, 133);
    border-radius: 1em;
    padding: 0 10px;
}

.contact,
.index-about .subinfo,
.bits {
    margin: 5px auto 0 70px;
    padding: 1em;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}

.contact {
    display: inline-flex;
    text-align: center;
}

.contact div {
    padding: 4px;
    color: rgb(21, 58, 91);
    display: block;
    margin: auto 20px 0 20px;

}


.container-fluid h1 {
    background-color: rgba(85, 85, 85, 0.371);
    border-radius: .2em;
    border: 5px solid rgb(32, 114, 136);
    border-spacing: 1cm 2em;
    transition: ease all .5s;
    color: rgb(18, 91, 133);
    width: 100%;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

.index-front .container-fluid h1 {
    font-size: 70px;
    padding: 60px;
}

.index-about .container-fluid h1 {
    font-size: 40px;
    padding: 7px;
}

.index-front .container-fluid h1 span {
    padding: 0 10px;
}

.index-front .container-fluid {
    position: absolute;
    top: 50px;
    width: 100%;
    transition: ease all .5s;
}

.container-2 h3 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(18, 91, 133);
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
    color: rgb(255, 255, 255);
    background-color: rgb(18, 91, 133);
}

.container-2 h3 span {
    background-color: rgb(18, 91, 133);
    border-radius: 1em;
    padding: 0 10px;
}

.index-front .container-fluid .container-2 {
    margin-top: 30px;
}

.dropdown {
    cursor: pointer
}

.dropdown-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    font-size: 18px;
}

#MainDiv {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    justify-content: space-between;
    width: 220px;
}

.list {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: inline;
    height: 100%;
    color: aliceblue;
}

.bits {
    display: block;
    position: relative;
}

.bits h5 {
    text-align: center;
}

.like,
.qua,
.dislike {
    width: 100%;
    margin: 8px 0 auto 30px;
    font-size: 30px;
    display: block;
    height: auto;
    padding: 1.5em;
}


/*FAMILY BACKGROUND PAGE*/

/*.myfamily-index {
    background: url(img/famcover.jpg) no-repeat center center fixed;
	background-position: fixed;
	background-repeat: no-repeat;
	background-size: cover; 
}*/

.bg-famtext {
    padding: 1em;
    margin-left: 50px;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    border: 3px solid rgb(18, 91, 133);
}

.bg-famtext ul {
    text-decoration-style: none;
    list-style: none;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

.bg-famtext ul li a {
    color: aliceblue;
}

.bg-famtext h1 {
    text-align: center;
    font-family: 'Sriracha', cursive;
    padding: 1em;
}

.bg-famtext p {
    font-family: 'Roboto', cursive;
    text-align: left;
}

.container-details {
    position: relative;
    width: 100%;
    padding: 2em;
}

.container-details .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.container-details .image {
    object-fit: cover;
    width: 50%;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.container-details:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.text h3 {
    text-align: center;
    font-family: 'Sriracha', cursive;
}

.text p {
    text-align: left;
}

.container-fam {
    display: inline-flex;
    width: 100%;
}

.container-pic .slideshow-container .mySlides .responsive {
    height: 100%;
    width: 720px;
    margin: 20px 0 0 50px;
    object-fit: cover;
}


.parents .table-responsive table {
    width: 80%;
}

.parents .table-responsive td {
    display: block !important;
}

.parents .table-responsive tr {
    float: left !important;
    width: 50% !important;
}

.image {
    width: 200px;
    margin: 8px 0 auto 30px;
    display: block;
    height: 200px;
}

.image2 {
    border-radius: 20em;
    width: 50%;
    height: 50%;
    margin: 8px 0 auto 10px;
    display: block;
}

.container-details-2 .image2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 25%;
}

.container-details-2 .name h3 {
    text-align: center;
    font-family: 'Sriracha', cursive;
}

/*HOBBIES & SKILLS*/
.hobbies-index,
.skills-index {
    overflow-x: hidden;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
}

.hobbies-bg {
    /*similar style in index-bg but different*/
    width: 100%;
    height: 650px;
    position: relative;
    object-fit: cover;
    object-position: -80% 0;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.skills-bg {
    /*similar style in index-bg but different*/
    width: 100%;
    height: 650px;
    position: relative;
    object-fit: fill;
    object-position: 100% 0;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

/* Position text in the middle of the page/image */
.bg-text {
    font-family: 'Sriracha', cursive;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid rgb(18, 91, 133);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 1px;
    align-items: start;
    justify-items: center;
    margin: auto;
    width: 504px;
    background-color: azure;

}

.grid img {
    max-width: 100%;
}

.grid img:nth-child(2) {
    grid-column: span 3;
    grid-row: span 3;
}

.hobbies3-categories .container-fluid {
    display: inline-flex;
}

.webcomics {
    background-color: azure;
    padding: 1em;
}

.hover-img {
    background-color: azure;
    color: rgb(0, 0, 0);
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-align: center;
    width:250px;
}

.hover-img * {
    transition: all 0.45s ease;
}

.hover-img:before,
.hover-img:after {
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
    
}

.hover-img:hover:before,
.hover-img:hover:after {
    opacity: 1;

}

.hover-img img {
    vertical-align: top;
    backface-visibility: hidden;

}

.hover-img figcaption h4{
    font-family: 'Sriracha', cursive;
}
.hover-img figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    z-index: 2;
    transition-delay: 0.1s;
    letter-spacing: 1px;
    /* Black w/opacity/see-through */
    color: rgb(200, 255, 244);
    border: 5px solid rgb(6, 108, 115);
    background-color: rgba(7, 2, 2, 0.708);
    font-weight: bold;
    position: absolute;
    
}

.hover-img:hover>img {
    opacity: 10;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.hover-img:hover figcaption {
    opacity: 1;
}