
.menu {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    color: white;
}
.about {
    text-align: center;
    font-size: 70px;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}
.about img {
    height: 300px;
    width: 240px;
    border-radius: 15px;
    position: absolute;
    right: 80%;
    top: 30%;
}
.information {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 30%;
    top: 50%;
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}
.information ul {
    display: inline-block;
}
.family img {
    height: 400px;
    width: 600px ;
    position: center;
    border-radius: 15px;
}
.family {
    text-align: center;
    font-size: 40px;
    color: black;
    font-family: 'Century Gothic', sans-serif;
}
.family > ul {
    display: inline-block;
}
.hobbies {
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}
h1 {
    font-size: 70px;
    text-align: center;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}
.interest li {
    font-size: 65px;
    text-align: center;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}
.interest > li {
    display: inline-block;
}
.interest {
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}
.webtoon li {
    position: absolute;
    left: 50%;
    top: 60%;
    text-align: center;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}
.webtoon img {
    height: 200px;
    width: 200px;
    padding: 0;
    margin: 0;
    position: left;
    left: 50%;
    border-radius: 15px;
}
.draw li {
    text-align: center;
    font-size: 50px;
    color: black;
    font-family: 'Century Gothic', sans-serif;
}
.draw > ul {
    display: inline-block;
}
.draw img {
    height: 200px;
    width: 200px;
    padding: 0;
    margin: 0;
    position: left;
    left: 50%;
    border-radius: 15px;
}
.top {
    font-size: 50px;
    text-align: center;
    color: black;
    font-family: 'Century Gothic', sans-serif;
}
.anime li {
    position: fixed;
    text-align: center;
    color: black;
    font-family: 'Century Gothic', sans-serif;
}
.anime img {
    height: 200px;
    width: 250px;
    padding: 0;
    margin: 0;
    position: left;
    left: 50%;
    border-radius: 15px;
}
.skill {
    left: 25%;
    top: 30%;
    text-align: center;
    font-size: 70px;
    font-family: 'Century Gothic', sans-serif;
}
.talents {
    position: absolute;
    left: 25%;
    top: 50%;
    text-align: center;
    font-size: 50px;
    font-family: 'Century Gothic', sans-serif;
}
.talents > ul {
    display: inline-block;
}
.talents img {
    height: 200px;
    width: 200px;
    padding: 0;
    margin: 0;
    position: left;
    left: 50%;
    border-radius: 15px;
}
.field {
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}
.it {
    text-align: center;
    font-size: 30px;
    color: black;
    font-family: 'Century Gothic', sans-serif;
}
.it > ul {
    display: inline-block;
}
.strong {
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}
.disadvantage {
    text-align: center;
    font-size: 30px;
    color: black;
    font-family: 'Century Gothic', sans-serif;
}
.disadvantage > ul {
    display: inline-block;
}
.work {
    text-align: center;
    font-size: 40px;
    color: black;
    font-family: 'Century Gothic', sans-serif;
}
.job {
    text-align: center;
    font-size: 30px;
    color: black;
    font-family: 'Century Gothic', sans-serif;
}
.job > ul {
    display: inline-block;
}