a,
#logo {
    line-height: 1.7;
    margin: 0;
    transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
}

a:focus,
#logo:focus {
    outline: none !important;
}

a:hover,
#logo:hover {
    decoration: none;
}

header {
    background-color: #2C3E50;
    font-size: medium;
    background-size: cover;
    width: 100%;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    transition: all .4s ease;
}

header #logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    font-size: 35px;
    font-family: 'Sriracha', cursive;
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
    font-weight: bold;
}

header .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .links a {
    color: aliceblue;
    font-family: 'Bebas Neue', cursive;
    font-size: 29px;
    display: block;
    padding: 1em;
    color: #fff;
    text-decoration: none;
}

header #logo:hover {
    background: -webkit-linear-gradient(#FFA500, #FF6F61);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
}

header .links a:hover {
    background: -webkit-linear-gradient(#FF6F61, #FFA500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: .5em;
    color: rgb(7, 1, 1);
}

header .links li {
    list-style: none;
}

#nav-toggle {
    position: absolute;
    top: -100px;
}

header .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

header .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

/* New styles for the shrunk header */
header.shrink {
    height: 50px;
    font-size: small;
}

header.shrink #logo {
    width: 20%;
    font-size: 20px;
}

header.shrink #logo img {
    width: 50px;
    height: 50px;
}

header.shrink .links {
    width: 80%;
}

header.shrink .links a {
    font-size: 18px;
    padding: 0.5em;
}

/*MAIN INDEX*/

.btnUp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
}

.btnUp a {
    height: 39px;
    width: 37px;
    text-align: center;
    background: #091c23;
    display: block;
    border-radius: 3px;
    cursor: pointer;
}

.btnUp a i {
    color: #f2f2f2;
    line-height: 2px;
    font-size: 25px;
}

.index-front {
    background: rgba(0, 0, 0, 0.6);
    overflow-x: hidden;
    position: relative;
    left: 0;
    top: 100px;
    bottom: 0;
    width: 100%;
    height: 750px;
}

.index-bg {
    width: 100%;
    height: 650px;
    position: relative;
    object-fit: cover;
    object-position: 50% 25%;
    /* Adjust the image to 50% horizontally and 30% vertically */

}

.container-fluid {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.container-fluid h2 {
    background-color: rgba(85, 85, 85, 0.371);
    border-radius: .2em;
    border: 5px solid rgb(32, 114, 136);
    border-spacing: 1cm 2em;
    transition: ease all .5s;
    color: rgb(18, 91, 133);
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
    width: 100%;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

.index-front .container-fluid h2 {
    font-size: 70px;
    padding: 60px;
}

.index-front .container-fluid h2 span {
    padding: 0 10px;
}

.index-front .container-fluid {
    position: absolute;
    top: 50px;
    width: 100%;
    transition: ease all .5s;
}

.container-2 h3 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(18, 91, 133);
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
    color: #333333;
    background-color: #66CCCC;
}

.container-2 h3 span {
    background-color: #66CCCC;
    border-radius: 1em;
    padding: 0 10px;
}

.index-front .container-fluid .container-2 {
    margin-top: 30px;
}

/*ABOUT SECTION*/

.index-about {
    position: relative;
    background-color: rgb(223, 239, 254);
    height: auto;
}

.dpfront {
    width: 25%;
    transition: ease all .5 s;
    height: 400px;
    position: relative;
    object-fit: cover;
    margin: 0 auto 20px 80px;
    border: 4px solid rgb(18, 91, 133);
}

.clip {
    position: absolute;
    top: 210px;
    left: 20px;
    height: 400px;
}

.title {
    width: 100%;
    padding: 1em;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    border: 3px solid rgb(18, 91, 133);
    border-radius: .2em;
    margin: 30px 0 20px 0;
    width: 100%;
}

.container-dp {
    position: relative;
    display: flex;
}

.title-h4 {
    font-size: 18px;
    padding: 9px;
}

.nicknames {
    list-style-type: square;
}

.container-info {
    background-color: #2C3E50;
    position: relative;
    margin: 10px 20px auto 20px;
    width: 100%;
    color: #333333;
    border: 4px solid rgb(18, 91, 133);
    display: inline-flex;
}

.subinfo {
    margin: 1px auto 0 70px;
    padding: 1em;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}

.subinfo li {
    list-style: none;
}

.general {
    text-align: justify;
    background-color: #fff;

}

.education {
    background-color: #2C3E50;
    border: none;
    text-align: justify;
    font-family: consolas;
    color: #FFFFFF;
}

.education-info {
    font-size: 25px;
    padding: 9px;
}

h4 {
    width: 100%;
    text-align: center;
    margin: 10px 0 20px;
    color: rgb(255, 255, 255);
    font-weight: 900;
}

h4 span {
    background-color: #FFA500;
    border-radius: 1em;
    padding: 0 10px;
}

.text-container-link {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
}

.text-container-link p {
    font-size: 16px;
    color: #2C3E50;
}

.text-container-link a {
    color: #FFA500;
    text-decoration: underline;
    letter-spacing: 0.1cm;
    text-shadow:
        -.6px -.6px 0 #2C3E50,
        .6px -.6px 0 #2C3E50,
        -.6px .6px 0 #2C3E50,
        .6px .6px 0 #2C3E50;

}

.text-container-link a:hover {
    text-decoration: underline;
    color: #056876;
    text-shadow: none;
}



/*FAMILY BACKGROUND SECTION*/
* {
    box-sizing: border-box;
}

.myfamily-index {
    background-color: rgb(30, 61, 77);
    height: auto;
    position: relative;
}


.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Caption text */
.text2 {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.fam-bg {
    padding: 20px;
}

.slideshow-container {
    border: 10px solid white;
    width: 100%;
}

.cont {
    position: relative;
    height: 200px;
    margin: 20px auto 0;
    padding-top: 15px;
}

.cont .box {
    position: relative;
    width: calc(275px - 30px);
    height: calc(200px - 30px);
    margin-left: 75px;
    box-sizing: border-box;
    background: #fff;
    float: left;
    overflow: hidden;
}

.cont:after {
    content: "";
    display: table;
    clear: both;
}

.cont .box:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-top: 1px solid #153b52;
    border-bottom: 1px solid #153b52;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scaleX(0);
    opacity: 0;
    z-index: 1;
}

.cont .box:hover:before {
    transform: scaleX(1);
    opacity: 1;
}

.cont .box:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-left: 1px solid #153b52;
    border-right: 1px solid #153b52;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scaleY(0);
    opacity: 0;
    z-index: 1;
}

.cont .box:hover:after {

    transform: scaleY(1);
    opacity: 1;

}

.cont .box .image {
    position: relative;
}


.cont .box .image img {
    width: 100%;
    transition: 0.5s;
}


.cont .box:hover .image img {
    opacity: .2;
    transform: scale(1.2);
}


.cont .box .content {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}


.cont .box .content h3 {
    margin: 0 0 10px;
    font-size: 15px;
    padding: 0;
    color: #000;
    transition: 0.5s;
    transform: translateY(-50px);
    opacity: 0;
    visiblity: hidden;
}

.cont .box .content p {
    font-size: 13px;
    margin: 0;
    padding: 0;
    color: #000;
    transition: 0.5s;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.5s;
    visiblity: hidden;
    text-align: center;
}

.cont .box:hover .content h3,
.cont .box:hover .content p {
    opacity: 1;
    visiblity: visible;
    transform: translateY(0px);
    transition-delay: 0.2s;
}

.text {
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.text h3 {
    text-align: center;
    font-family: 'Sriracha', cursive;
}

.text p {
    text-align: left;
}

.container-fam {
    display: inline-flex;
    width: 100%;
    top: 0;
    left: 0;
}

.container-pic .slideshow-container .mySlides .responsive {
    height: 100%;
    width: 100%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}


.parents .table-responsive table {
    width: 80%;
}

.parents .table-responsive td {
    display: block !important;
}

.parents .table-responsive tr {
    float: left !important;
    width: 50% !important;
}

.image {
    width: 200px;
    margin: 8px 0 auto 30px;
    display: block;
    height: 200px;
}

.image2 {
    border-radius: 20em;
    width: 50%;
    height: 50%;
    margin: 8px 0 auto 10px;
    display: block;
}

.container-details-2 .image2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 25%;
}

.container-details-2 .name h3 {
    text-align: center;
    font-family: 'Sriracha', cursive;
}

.bg-famtext {
    padding: 1em;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    border: 3px solid rgb(18, 91, 133);
    margin-left: 20px;
}

.bg-famtext ul {
    text-decoration-style: none;
    list-style: none;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

.bg-famtext ul li a {
    color: aliceblue;
}

.bg-famtext h1 {
    text-align: center;
    font-family: 'Sriracha', cursive;
    padding: 1em;
}

.bg-famtext p {
    font-family: 'Roboto', cursive;
    text-align: left;
}

.container-details {
    position: relative;
    width: 100%;
    padding: 2em;
}

.container-details .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.container-details .image {
    object-fit: cover;
    width: 50%;
}

.text2 {
    background-color: #e4edf364;
    color: rgb(0, 0, 0);
    font-family: monospace;
}

/*HOBBIES SECTION*/

.myhobbies-index {
    position: relative;
    background-color: rgb(49, 80, 104);
    height: min-content;
    padding: 20px 0;
}

.hobbies1 {
    background-color: white;
    display: inline-block;
}

.hobbies2 h4 {
    background-color: #b8e6dd;
    color: #374e4e;
}

.hobbies3 {
    background-color: #b8e6e6;
    text-align: center;
    width: 100%;
    border: 15px black;
    border-style: double;
    margin-left: 10px;
    position: relative;
}

.hobbies5,
.hobbies4,
.hobbies6 {
    display: block;
    position: relative;
    margin: 50px;
}

.watch-container {
    padding: 20px;
    background-color: #69c2c2;
}

.text1 img {
    border: 4px double black;
    border-spacing: 3px;
}

#slideshow {
    text-align: center;
    overflow: hidden;
    height: 510px;
    width: 728px;
    margin: 0 auto;
    border: 10px solid white;
    border-style: solid;
}

#slideshow1 {
    overflow: hidden;
    height: 460px;
    width: 280px;
    margin: 0 auto;
    border: 10px solid white;
    border-style: solid;
}

.read-container {
    background-color: #69c2c2;
    margin-bottom: 20px;
    position: relative;
    display: block;
    padding: 1em;
}

.read-container .col-xs-12,
.read-container .col-sm-4 {
    text-align: center;
    margin-bottom: 20px;
}

.webcomics h4,
.manga h4,
.literature h4 {
    margin: 10px auto;
    border: 10px solid #000;
    background-color: #000000;
    align-items: center;
    display: block;
}

.webcomics,
.manga,
.literature {
    margin-bottom: 3px;
}

.img-responsive-webtoon,
.img-responsive-manga,
.img-responsive-literature {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
    object-position: 50% 25%;
}

/* New styles for the reasons container */
.hobbies6 .container {
    border: 10px solid black;
    color: #000;
    display: block;
    position: relative;
    padding: 20px;
    background-color: #e6e6e6;
    /* Light grey background */
    text-align: center;
}

.hobbies6 .container h4 {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #2C3E50;
}

.hobbies6 .container p {
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    font-size: 16px;
    line-height: 1.5;
}

.watch-container .row .col-xs-6 .text1 img {
    width:60%;
}


/*SKILL SECTION*/

.digital .container img {
    border: 10px solid white;
    border-spacing: 10px;
}

.header1 {
    display: inline-flex;
    width: 100%;
    position: relative;
}

.header2 {
    display: inline-flex;
    width: 100%;
    position: relative;
}

.artsky,
.artsky1 {
    height: 290px;
    position: relative;
    object-fit: cover;
    object-position: 1px 45%;
}

.artsky1 {
    object-fit: cover;
    object-position: 1px 25%;
}

.artcloud1,
.artcloud15 {
    height: 200px;
    position: relative;
    object-fit: cover;
    object-position: 1px 69%;
}

.artcloud15 {
    object-fit: cover;
    object-position: 1px 29%;
}

.artcloud2 {
    height: 600px;
    position: relative;
    object-fit: cover;
    object-position: 1px 24%;
}

.artcloud3 {
    height: 600px;
    object-fit: cover;
    object-position: 1px 14%;
}

.art1 {
    width: 25%;
    float: left;

}

.art2 {
    width: 75%;
    float: left;

}

.type {
    width: 100%;
    padding: 20px;
}

.code {
    text-align: center;
    /* Center the text within the code container */
    padding: 20px;
    /* Add some padding for better spacing */
}



.portrait-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Cover the container while maintaining the aspect ratio */
}

.image-container-logo img {
    height: 100%;
    width: 40%;
    /* Set a fixed height for the image containers */
    overflow: hidden;
    /* Ensure no overflow */
}

.portrait-logo {
    width: 50%;
    height: 10%;
    object-fit: cover;
    /* Cover the container while maintaining the aspect ratio */
}

.lista li,
.tools li {
    list-style: disc;
}



.code,
.voice {
    display: block;
    height: 400px;
}

.voice {
    padding: 5px;
}

.word {
    width: 100%;
    height: 100px;
    margin: auto;
    color: white;
    font: 700 normal 2.5em 'consolas';
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}

.lista>ul,
.tools>ul {
    display: inline-block;
    color: #bbb;
}

.lista,
.tools {
    text-align: center;
    align-items: center;
    align-items: center;
    justify-content: center;
}


.lista ul li,
.tools ul li {
    text-align: justify;
    font: 700 normal 2.5em 'consolas';
}


/*IT FIELD SECTION*/

.container-dp {
    width: 100%;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

section .text-container {
    display: flex;

}

section .text-container .text-box {
    margin: 20px;
    padding: 20px;
    background: #2C3E50;
    color: #fff;
}

section .text-container .text-box ul li {
    list-style: decimal;
    font-size: 15px;
    margin-bottom: 10px;
    text-align: justify;
}
